h1{
  font-family: 'Bubbler One', sans-serif;
  color: black;
}
#claves{
  min-height: 350px;
  max-height: 400px;
  overflow: scroll;
}      
#p-btn{
  height: 50px;
  position: relative;
}
#p-btn p {
  margin-top: 25px;
  position: absolute;
  width: 100%;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);      
}
#btn-A p{
  margin-top: 25px;
  position: absolute;
  width: 100%;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 
#p-btn p .col-xs-3{
  float: none;
}
footer {
  background-color: #f1f1f1;
  margin-bottom: -1px;
  height: 50px;
  position: static;      
}
@media (min-width: 380px) {
  .input-group[class*=col-]{
  padding-left: 20%;
  padding-top: 8px;
  margin-right: 8px;
  width: auto;
  }       
}
@media (min-width: 540px){
  .col-sm-2{padding-right: 0;}      
  .input-group[class*=col-]{
  padding-left: 40%;
  padding-top: 8px;
  margin-right: 8px;
  width: auto;
  }
}  
@media (min-width: 992px) {
  .input-group[class*=col-]{
  padding-left: 55%;
  padding-top: 8px;
  margin-right: 8px;
  width: auto;
  }       
}     
      
      
     