h1{
  font-family: 'Bubbler One', sans-serif;
  color: black;
}
#claves{
  min-height: 450px;
  max-height: 5000px;
  overflow: scroll;
}      
#btn-A p{
  margin-top: 25px;
  position: absolute;
  width: 100%;
  left: 88%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 
.td-w{
  width: 76px;
}
.btn-T{
  padding: 4px 8px;
  font-size: 10px;
  opacity: 0.2;
}
.btn-C{
  padding: 4px 8px;
  font-size: 10px;
}
.btn-T:hover{
  opacity: 1;
}

footer {
  background-color: #f1f1f1;
  margin-bottom: -1px;
  height: 50px;
  position: static;      
}
@media (min-width: 380px) {
  .input-group[class*=col-]{
  padding-left: 20%;
  padding-top: 8px;
  margin-right: 8px;
  width: auto;
  }
  .table{
    margin-bottom: auto;
  }
  .container{
    width: auto;
  }
  .td-p{
  width: 120px;
}
  #masterk-log{
    width: 340px;
    height: 540px;
    margin: auto;
  }
}
@media (min-width: 540px){
  .col-sm-2{padding-right: 0;}      
  .input-group[class*=col-]{
  padding-left: 40%;
  padding-top: 8px;
  margin-right: 8px;
  width: auto;
  }
  .table{
    margin-bottom: auto;
  }
  .container{
    width: auto;
  }
  .td-p{
  width: 150px;
}
  #masterk-log{
  width: 400px;
  height: 580px;
  margin: auto;
  }
  #masterk{
  width: 600px;
  height: 400px;
  margin: auto;
  }
}
@media (min-width: 768px) {
    .container{
      width: auto;
    }
    .td-p{
    width: auto;
}
  }  
@media (min-width: 992px) {
  .input-group[class*=col-]{
  padding-left: 55%;
  padding-top: 8px;
  margin-right: 8px;
  width: auto;
  }
  .container{
    width: auto;
  }
  #btn-A p {
  margin-top: 25px;
  position: absolute;
  width: 100%;
  left: 92%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);      
}       
}     
      
      
     